*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;

}
#mynavbar{
    background: rgb(252, 255, 255) ;
}
#logo{
    font-size :30px;
    color: black;
    margin-bottom: 4px;
    font-weight: 500;

}
.navbar-nav{
    margin-left: 20px;
}
.nav-link{
    color: black;
}
.nav-items .nav-link{
    font-size: 15px;
    font-weight:500;
    background: black;
    color: rgb(244, 241, 241);
    border-radius: 3px;
    transition: 0.5 ease ;
}

.nav-link:hover{
    background: white;
    color:rgb(120, 220, 250);
    border:none;
}
#navbar form button{
    background: black;
    color: white;
    border:none;

}
.Home{
    width:100%;
    height:100vh;
    background-image: url(tour.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Home .content{
    text-align: center;
    padding: 200px;
}
.Home .content h5{
    color: rgb(31, 29, 29);
    font-size: 40px;
    font-weight:500;

}
.Home .content h1{
    color: rgb(32, 29, 29);
    font-size:70px;
    font-weight:550px;
    margin-top: 5px;
}
.Home .content p{
    color: rgb(43, 38, 38);
    font-size: 15px;
    font-weight:500;
    margin-bottom: 30px;
    margin-top: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.BOOKNOW{
    background: white;
    padding: 50px;
}
@media (max-width:760px) {
    .book{
        padding: 0;
    }
}
.main-text h1{
    text-align: center;
    font-weight: 600;
}
.main-text h1 span{
    color: orange;
}
.book .card{
    border-radius: 10px;
}
.book.row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    
}
.textarea{
    border: none;
    border-radius: 10px;
    height: 200px;
}
.Submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: orange;
    color: white;
    margin-top: 10px;
}

.main-txt h1{
    text-align: center;
    margin-top:30px ;
    font-weight: 600;


}
.packages .card{
    border-radius: 5px;
    border: none;
    
}
.packages .card img{
    border-radius: 20px;
    

}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body p{
    font-size: 15px;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.checked{
    color: orange;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: orange;
    color: white;
    border-radius: 4px ;
}
.services{
    background: white;
    margin-top: 50px;
}
.services .card{
    border: none;
    cursor: pointer;
}

.services{
    background: white;
    margin-top: 50px;

}
.services .card{
    box-shadow:  black;
    border: none;
    cursor: pointer;

}
       
.services .card i{
    font-size: 80px;
    text-align: center;
    color: orange;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}


.about{
    margin-top: 50px;
    background: white;
}
.about .card{
    border-radius: 10px;

}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
}
.about p{
    font-weight: 500;

}
.about-btn{
    width: 150px;
    height: 38px;
    border: none;
    background: rgb(238, 160, 15);
    color: rgb(211, 26, 26);
    border-radius: 5px;
    font-weight: 500;
    transition: 0.5 ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 150px;
}
@media (max-width:760px){
    .about{
        padding: 0;
    }
}

#footer{
    padding: 10px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    background: white;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;

}
#footer h1 span{
    color: orange;

}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition:0.5 ease;
    cursor: pointer;
}
.social-links i:hover{
background: orange;
}
